<h1> <% @patient.name %> </h1>
<h3> <%= @patient.appointments.each do |appointment| %>
  <%= appointment.human_readable_datetime%>
<%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
<% end %>
